In [2]:
from __future__ import print_function, division
import sys
reload(sys)
sys.setdefaultencoding('utf8')
from Utils.common.custerReadFile import read_multi_csv
import numpy as np
import re
from numpy import logical_or, logical_and
import pandas as pd
import xlsxwriter
from Params.path_params import Document_path

In [9]:
xls_file = u"{0}/samoyed_chk/h5同设备_萨摩耶.xlsx".format(Document_path)

In [12]:
print(xls_file)

In [13]:
df1 = pd.read_excel(io=xls_file, sheet_name=1)

In [16]:
df1.head(2)

,device,maxent_id,ticket,os,aid,idfa,dt
0,00508C94-5CF9-4BDE-990D-C5BC3482F75A,3b2eff0b5e1172b60cc55ce1ec4f7e76,00508C94-5CF9-4BDE-990D-C5BC3482F75A,ios,NaN,00508C94-5CF9-4BDE-990D-C5BC3482F75A,20180210
1,00508C94-5CF9-4BDE-990D-C5BC3482F75A,d890565a9e9799a62d2291428bf37d78,314854A0-1571-4F6D-A3FB-4F0429CD393E,ios,NaN,00508C94-5CF9-4BDE-990D-C5BC3482F75A,20180129

In [18]:
df1_android = df1.loc[df1.os == 'android'].groupby('aid').agg({'maxent_id':'nunique'})

In [19]:
df1_android.loc[df1_android.maxent_id > 1].shape

(107, 1)

In [20]:
df1.shape

(1000, 7)

In [22]:
df1_android.loc[df1_android.maxent_id == 4].shape

(1, 1)

In [23]:
df1_android.loc[df1_android.maxent_id == 4]

                  maxent_id
aid
558ac8d3bbc773fc          4

In [24]:
df1.loc[df1.aid == '558ac8d3bbc773fc']

,device,maxent_id,ticket,os,aid,idfa,dt
284,558ac8d3bbc773fc,e1a63fc226c2d818af1c6a8b229cf014,bd099f54-a377-4fb8-982a-fddd9bb8e90f2,android,558ac8d3bbc773fc,NaN,20180116
285,558ac8d3bbc773fc,0092c1b369fbca1fd8b8b076b9d84725,3e881d8c-a6a7-4f2e-9030-34b1632a53bd2,android,558ac8d3bbc773fc,NaN,20180131
286,558ac8d3bbc773fc,daaf2cc1eec9edf0c1833c739cae93ec,77e295de-0f53-43e9-9ef2-ada1d7bf86222,android,558ac8d3bbc773fc,NaN,20180212
287,558ac8d3bbc773fc,f28312be098e25407e14b14818597421,91aeb4eb-9087-49a9-82e1-4c7e6592c9c62,android,558ac8d3bbc773fc,NaN,20180227

In [26]:
df1_ios = df1.loc[df1.os == 'ios'].groupby('idfa').agg({'maxent_id':'nunique'})

In [27]:
df1_ios.loc[df1_ios.maxent_id > 1].shape

(132, 1)

In [28]:
df1_ios.loc[df1_ios.maxent_id == 4]

                                      maxent_id
idfa
19F68219-1C19-4E63-95DB-A23D297A5806          4
4BA8C37F-E40D-4DAE-AF1C-2B22B6A865F8          4
5BE11DE6-9D0F-44B4-9963-ABD720A159E3          4
7B6C5599-6272-4A1A-A8A5-ACFC74C0FFAF          4
E35F776E-BC17-46A0-BECA-868E67314CB6          4

In [29]:
df1.loc[df1.idfa == '19F68219-1C19-4E63-95DB-A23D297A5806']

,device,maxent_id,ticket,os,aid,idfa,dt
79,19F68219-1C19-4E63-95DB-A23D297A5806,763e0a0edf93fcf07e33c8fb587b2a90,7830B1A7-2F98-487F-8A7B-4D1B7F66A556,ios,NaN,19F68219-1C19-4E63-95DB-A23D297A5806,20180201
80,19F68219-1C19-4E63-95DB-A23D297A5806,a6ba42c870b8bc9e8d23f41df7bb5e87,695140BF-CF52-4A76-84E6-BC10430B2885,ios,NaN,19F68219-1C19-4E63-95DB-A23D297A5806,20180227
81,19F68219-1C19-4E63-95DB-A23D297A5806,36b77ba3115b15becdfc8cbbf82241cb,293A7318-BE16-4EC7-A539-21F0EA06D16E,ios,NaN,19F68219-1C19-4E63-95DB-A23D297A5806,20180214
82,19F68219-1C19-4E63-95DB-A23D297A5806,8d06d7cf4ffc213f58a0e50a633aa8d5,5E44B91B-7A1B-4526-9C18-3D8D862F2335,ios,NaN,19F68219-1C19-4E63-95DB-A23D297A5806,20180114