In [1]:
from Params.path_params import Data_path
import pandas as pd
import numpy as np
import numpy as np
import matplotlib.pylab as plt
from sklearn.preprocessing import MinMaxScaler
import re

In [2]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [3]:
jdata_path = "{0}/JData".format(Data_path)
trade_train_file = "{0}/t_trade.csv".format(jdata_path)
trade_test_file = "{0}/t_trade_test.csv".format(jdata_path)
login_train_file = "{0}/t_login.csv".format(jdata_path)
login_test_file = "{0}/t_login_test.csv".format(jdata_path)
debug_file =  "{0}/lstm_feature_debug.csv".format(jdata_path)

In [4]:
df = pd.read_csv(debug_file)

In [5]:
df.head()

,new_time_delta_15Min_mean,new_timelong_15Min_mean,new_id_login_city_15Min_num,new_id_login_type_15Min_num,new_id_login_result_15Min_num,new_id_login_log_from_15Min_num,new_id_login_device_15Min_num,new_id_login_ip_15Min_num,new_trade_is_holiday,new_trade_weekth,new_trade_dayofweek,new_trade_day,new_trade_hour,time,id,rowkey,is_scan,is_sec,label
0,48637.666667,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0,2,5,14,20,2015-02-14 20:41:58+00:00,113124,228883,0.0,0.0,0
1,60432.500000,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0,2,0,9,12,2015-03-09 12:52:57+00:00,113124,356263,0.0,0.0,0
2,74503.000000,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0,4,5,28,6,2015-03-28 06:57:43+00:00,113124,450274,0.0,0.0,0
3,47008.000000,2000.0,1.0,1.0,1.0,1.0,1.0,1.0,0,3,5,21,13,2015-02-21 13:04:22+00:00,9219,266249,0.0,0.0,0
4,47106.000000,2000.0,1.0,1.0,1.0,1.0,1.0,1.0,0,1,2,1,13,2015-04-01 13:07:38+00:00,9219,472527,0.0,0.0,0

In [6]:
df.shape

(4040462, 19)