In [11]:
from Utils.common.custerReadFile import read_multi_csv
import re
import numpy as np 
from numpy import logical_or
from Params.path_params import Data_path
import pandas as pd
import time
import datetime

In [2]:
data_dir = "{0}/jiufu_chk_csv".format(Data_path)

In [3]:
df = read_multi_csv(data_dir)

In [7]:
df['time'] = pd.to_datetime(df['timestamp'], unit='ms', utc=True)

In [8]:
df.head(10)

,event_id,maxent_id,timestamp,type,time
0,3993f645-11f2-4c78-914c-c93199ad7b34,2ed9d84bdae7e8b381c09b44315791a1,1515495309750,create_account,2018-01-09 10:55:09.750000+00:00
1,1b0a9b3d-9e80-4a6d-9330-deb3f71f015d,45bd4ca025a2fa8300daa050e5814ce6,1515495310030,update_account,2018-01-09 10:55:10.030000+00:00
2,420f848a-64e8-400c-a98d-5c24ae99ed39,9c0cf6d5a6bcc353781d3c5a1ea4bd47,1515495310462,transaction,2018-01-09 10:55:10.462000+00:00
3,00d88a02-edad-4d98-9d5a-64031f53f239,60e3badecf6fec557db5f12f501da1ce,1515495310475,transaction,2018-01-09 10:55:10.475000+00:00
4,0386a175-862b-4357-a833-db2c26a56ed8,a792449284bc2c70c2244327ef5b1fe1,1515495310883,update_account,2018-01-09 10:55:10.883000+00:00
5,881316e3-f129-470c-b213-95a949b33990,d40be94b6d0e89fc69bcaa08f79a26f1,1515495311066,login,2018-01-09 10:55:11.066000+00:00
6,5d9ab366-3be2-49c0-b9e2-cf0297e4400b,cb53d79aefe06b92330a56ed2d1d0dd7,1515495311316,transaction,2018-01-09 10:55:11.316000+00:00
7,1380f58c-9960-4a47-b37f-9c06d1c0e71c,34bc4de9097e33044bc124e473202e8e,1515495311573,login,2018-01-09 10:55:11.573000+00:00
8,bc50545e-99f4-4ba8-beae-c3f6cc542221,0d97529c5f023863062e702734d5c9cc,1515495311574,quota,2018-01-09 10:55:11.574000+00:00
9,c20ef00a-badf-4071-9710-bd587d7d26d0,582814531d5054a3ca6b2083d1762a48,1515495311950,quota,2018-01-09 10:55:11.950000+00:00

In [9]:
df.dtypes

event_id                  object
maxent_id                 object
timestamp                  int64
type                      object
time         datetime64[ns, UTC]
dtype: object

In [17]:
df.loc[(df.time > '2018-01-19 03:00:00') & (df.time < '2018-01-20 03:00:00')].head(10)

,event_id,maxent_id,timestamp,type,time
3221,3dd8a8c6-83f2-4612-aaf9-ec5ef7b68ea4,e6f8939b3a2f71a7acd2c2b8985f283c,1516332000523,update_account,2018-01-19 03:20:00.523000+00:00
3222,77e3e307-5dd6-4fe3-ac61-43cf36541994,ae1493bd719d479adf4e8e555901dd9a,1516332001765,login,2018-01-19 03:20:01.765000+00:00
3223,faec522b-c96f-48f5-a277-d2e776367c65,3d61dfe935248776a3267aea8ce3286a,1516332001936,update_account,2018-01-19 03:20:01.936000+00:00
3224,08c837bd-4ec6-4c25-8e3f-7359bde0b0e7,7088c8b02c1110fb4219275c80816895,1516332001960,transaction,2018-01-19 03:20:01.960000+00:00
3225,e52c0089-b173-4d9b-9bc0-597864dc2096,0b9bf2299f69f12c455769a1151d889b,1516332002221,quota,2018-01-19 03:20:02.221000+00:00
3226,5ed0d6f6-de0e-4043-b6ce-675fb0d8f829,2a5693177f9be08fd675c138b861031c,1516332002293,login,2018-01-19 03:20:02.293000+00:00
3227,507b6b65-a6a3-432a-b78f-60841a827129,ddf1c8f68ef9fbd4f33586f7cdfc6d47,1516332002732,login,2018-01-19 03:20:02.732000+00:00
3228,a099818c-5e18-409b-93ef-b5a2b361f153,dd29052894b18c756c3c70c5fd39e55f,1516332002867,login,2018-01-19 03:20:02.867000+00:00
3229,0a98e1ba-640d-40fa-b4bd-2c91a614dd86,9651ade93412e93ee03cee299ccde9d4,1516332002929,quota,2018-01-19 03:20:02.929000+00:00
3230,fc768ca8-f6fa-43db-8153-c403d3bf70c1,6d0dfe05beb0e296260357ca6d832e52,1516332003087,quota,2018-01-19 03:20:03.087000+00:00

In [18]:
df.loc[(df.time > '2018-01-19 03:00:00') & (df.time < '2018-01-20 03:00:00')].shape

(199126, 5)

In [21]:
df1 = df.loc[(df.time > '2018-01-19 03:00:00') & (df.time < '2018-01-20 03:00:00')].drop('timestamp', axis=1).reset_index(drop=True)

In [22]:
df1.head(10)

,event_id,maxent_id,type,time
0,3dd8a8c6-83f2-4612-aaf9-ec5ef7b68ea4,e6f8939b3a2f71a7acd2c2b8985f283c,update_account,2018-01-19 03:20:00.523000+00:00
1,77e3e307-5dd6-4fe3-ac61-43cf36541994,ae1493bd719d479adf4e8e555901dd9a,login,2018-01-19 03:20:01.765000+00:00
2,faec522b-c96f-48f5-a277-d2e776367c65,3d61dfe935248776a3267aea8ce3286a,update_account,2018-01-19 03:20:01.936000+00:00
3,08c837bd-4ec6-4c25-8e3f-7359bde0b0e7,7088c8b02c1110fb4219275c80816895,transaction,2018-01-19 03:20:01.960000+00:00
4,e52c0089-b173-4d9b-9bc0-597864dc2096,0b9bf2299f69f12c455769a1151d889b,quota,2018-01-19 03:20:02.221000+00:00
5,5ed0d6f6-de0e-4043-b6ce-675fb0d8f829,2a5693177f9be08fd675c138b861031c,login,2018-01-19 03:20:02.293000+00:00
6,507b6b65-a6a3-432a-b78f-60841a827129,ddf1c8f68ef9fbd4f33586f7cdfc6d47,login,2018-01-19 03:20:02.732000+00:00
7,a099818c-5e18-409b-93ef-b5a2b361f153,dd29052894b18c756c3c70c5fd39e55f,login,2018-01-19 03:20:02.867000+00:00
8,0a98e1ba-640d-40fa-b4bd-2c91a614dd86,9651ade93412e93ee03cee299ccde9d4,quota,2018-01-19 03:20:02.929000+00:00
9,fc768ca8-f6fa-43db-8153-c403d3bf70c1,6d0dfe05beb0e296260357ca6d832e52,quota,2018-01-19 03:20:03.087000+00:00

In [23]:
df1.shape

(199126, 4)