分析东方头条的刷量现象

In [1]:
from __future__ import print_function, division
import sys
reload(sys)
sys.setdefaultencoding('utf8')
import pandas as pd
import xlsxwriter
from Params.path_params import Document_path, Data_path
from Utils.common.custerReadFile import read_multi_csv
from matplotlib import pyplot as plt

In [2]:
data_path = "{0}/dongfang/dongfang_csv".format(Data_path)

In [3]:
df = read_multi_csv(data_path)

In [4]:
df1 = df.reset_index()

In [6]:
df1.shape

(330167, 21)

In [5]:
df.shape

(330167, 20)

In [7]:
df=df1

In [8]:
df.loc[df.isSimulator_value == True].shape

(5452, 21)

In [9]:
df.isSimulator_value.dtype

dtype('bool')

In [10]:
df.isSimulator_value.describe()

count     330167
unique         2
top        False
freq      324715
Name: isSimulator_value, dtype: object

In [117]:
df['isSimulator_value'] = df['isSimulator_value'].astype(bool)

In [124]:
df.isSimulator_value.shape

(16418,)

In [134]:
df.reset_index().shape

(16418, 24)

In [129]:
df[['isSimulator_value']].head(10)

     isSimulator_value
932              False
933              False
934               True
935              False
936              False
937              False
938              False
939              False
940              False
941              False

In [107]:
df['time'] = pd.to_datetime(df['timestamp'], unit='ms', utc=True)
df['hour'] = df.time.dt.hour
df['day'] = df['time'].dt.strftime("%Y/%m/%d")
df = df.loc[(df.day == '2018/05/13') & (df.city != 'UNKNOWN')]
df1 = df.groupby(['city', 'hour'], as_index=False).agg({'event_id': 'count'}).rename(columns={'event_id': u'事件数'})
df2 = df.loc[df.isSimulator_value == True].groupby(['city', 'hour'], as_index=False).agg(
    {'event_id': 'count'}).rename(columns={'event_id': u'使用模拟器数量'})
df3 = df1.merge(df2, on=['city', 'hour'], how='right').rename(columns={'city': u'城市', 'hour': u'时间'})
df3[u'使用模拟器的比例'] = df3[u'使用模拟器数量'] / df3[u'事件数']

In [108]:
df3.head(10)

     城市  时间  事件数  使用模拟器数量  使用模拟器的比例
0  七台河市   5    8        1  0.125000
1   三明市   7    4        1  0.250000
2  三门峡市   7    8        1  0.125000
3   临汾市   3   30        1  0.033333
4   北京市   5   60        1  0.016667
5   北京市   6   68        1  0.014706
6   北海市   1   10        9  0.900000
7   十堰市   5   11        1  0.090909
8   南京市  13    2        1  0.500000
9   南阳市   5   12        2  0.166667

In [5]:
df.groupby('sub_pid_seller', as_index=False).agg({'score': 'mean', 'event_id': 'nunique', 'maxentID': 'nunique'})

           sub_pid_seller  event_id  maxentID      score
0       huitt_articledown     44213     30667  68.301383
1               huitt_six      4318      3414  41.622163
2             huitt_three    131935     66065  87.407385
3       huitt_threedown_1      5192      4167  45.271501
4       huitt_threedown_2       792       642  34.065417
5       huitt_threedown_3      3497      2891  39.525791
6       huitt_threedown_4      1767      1446  24.850021
7       huitt_threedown_5      1034       856  27.640041
8     huitt_threemiddle_1      5438      4370  37.424619
9     huitt_threemiddle_2     16016     12091  38.789218
10    huitt_threemiddle_3      1645      1369  26.008305
11    huitt_threemiddle_4      5949      4762  34.146461
12    huitt_threemiddle_5      1999      1589  30.257169
13        huitt_threeup_1     12487      9710  46.328604
14        huitt_threeup_2       247       211  31.543827
15        huitt_threeup_3      8661      6631  31.336501
16        huitt_threeup_4      4931      3963  32.146150
17        huitt_threeup_5      8410      6564  33.144819
18         xiaozhinew_six      3607      2401  29.770011
19  xiaozhinew_three_down     25807     16111  48.636265
20    xiaozhinew_three_up     42222     25776  47.335332

In [30]:
df['time'] = pd.to_datetime(df['timestamp'], unit='ms', utc=True)

In [31]:
# df['time'] = df['time'].dt.strftime("%Y/%m/%d %H:%M")

In [32]:
df.time.dtype

datetime64[ns, UTC]

In [33]:
from pandas import Grouper

In [34]:
g = Grouper(key='time', freq='1H')

In [47]:
df.groupby(['ipSeg24',g]).agg({'event_id':'count'}).reset_index('ipSeg24').sort_index().sort_values(by='event_id',ascending=False)

                               ipSeg24  event_id
time
2018-05-13 14:00:00+00:00   111.19.124       142
2018-05-12 10:00:00+00:00   223.104.17       106
2018-05-13 05:00:00+00:00   223.104.94       105
2018-05-07 03:00:00+00:00   111.58.147        92
2018-05-15 11:00:00+00:00  112.101.112        88
2018-05-12 22:00:00+00:00   223.104.90        68
2018-05-07 12:00:00+00:00   117.136.98        61
2018-05-11 02:00:00+00:00  183.200.194        55
2018-05-07 09:00:00+00:00   223.104.22        52
2018-05-07 08:00:00+00:00   111.58.194        52
2018-05-03 14:00:00+00:00   223.104.23        50
2018-05-05 05:00:00+00:00      1.56.84        49
2018-05-14 15:00:00+00:00   117.182.60        46
2018-05-07 04:00:00+00:00   111.58.147        45
2018-05-03 08:00:00+00:00   117.182.58        43
2018-05-14 18:00:00+00:00   117.136.45        41
2018-05-11 07:00:00+00:00   117.181.95        41
2018-05-08 13:00:00+00:00   223.104.35        40
2018-05-03 15:00:00+00:00   223.104.23        37
2018-05-09 10:00:00+00:00    117.136.7        37
2018-05-08 12:00:00+00:00   223.104.90        36
2018-05-09 10:00:00+00:00     125.62.5        36
2018-05-06 14:00:00+00:00  117.182.100        34
2018-05-06 14:00:00+00:00   223.104.91        34
2018-04-30 16:00:00+00:00    114.139.1        33
2018-05-12 01:00:00+00:00  117.142.100        33
2018-05-09 10:00:00+00:00   61.167.167        33
2018-05-03 12:00:00+00:00   111.58.126        33
2018-05-05 12:00:00+00:00  117.142.100        32
2018-05-07 09:00:00+00:00   111.58.194        32
...                                ...       ...
2018-05-06 15:00:00+00:00  117.141.145         1
2018-05-06 15:00:00+00:00   223.104.16         1
2018-05-06 15:00:00+00:00   125.44.164         1
2018-05-06 15:00:00+00:00     36.4.102         1
2018-05-06 14:00:00+00:00   223.104.16         1
2018-05-06 14:00:00+00:00   182.133.11         1
2018-05-06 14:00:00+00:00  183.253.134         1
2018-05-06 14:00:00+00:00    39.130.32         1
2018-05-06 14:00:00+00:00    27.98.252         1
2018-05-06 14:00:00+00:00    125.62.40         1
2018-05-06 14:00:00+00:00  111.178.115         1
2018-05-06 14:00:00+00:00   171.119.40         1
2018-05-06 14:00:00+00:00  111.176.159         1
2018-05-06 14:00:00+00:00   117.136.14         1
2018-05-06 14:00:00+00:00  118.114.131         1
2018-05-06 14:00:00+00:00     1.24.123         1
2018-05-06 14:00:00+00:00    123.53.74         1
2018-05-06 14:00:00+00:00   182.241.22         1
2018-05-06 14:00:00+00:00  139.170.228         1
2018-05-06 14:00:00+00:00   112.41.251         1
2018-05-06 14:00:00+00:00  117.163.224         1
2018-05-06 14:00:00+00:00   182.131.86         1
2018-05-06 14:00:00+00:00  117.150.155         1
2018-05-06 14:00:00+00:00   106.45.147         1
2018-05-06 14:00:00+00:00   223.88.146         1
2018-05-06 14:00:00+00:00   120.34.255         1
2018-05-06 14:00:00+00:00   103.85.144         1
2018-05-06 14:00:00+00:00   113.13.114         1
2018-05-06 14:00:00+00:00   117.178.61         1
2018-05-15 15:00:00+00:00   110.89.209         1

[236762 rows x 2 columns]

In [41]:
df.loc[df.ipSeg24 == '111.19.124'].groupby(g).agg({'event_id':'count'}).sort_values(by='event_id',ascending=False)

                           event_id
time
2018-05-13 14:00:00+00:00       142
2018-05-06 00:00:00+00:00         1
2018-05-06 15:00:00+00:00         1
2018-05-07 06:00:00+00:00         1
2018-05-06 23:00:00+00:00         1
2018-05-14 06:00:00+00:00         1
2018-05-06 06:00:00+00:00         0
2018-05-10 07:00:00+00:00         0
2018-05-11 09:00:00+00:00         0
2018-05-11 10:00:00+00:00         0
2018-05-11 11:00:00+00:00         0
2018-05-11 12:00:00+00:00         0
2018-05-11 13:00:00+00:00         0
2018-05-11 14:00:00+00:00         0
2018-05-11 15:00:00+00:00         0
2018-05-11 16:00:00+00:00         0
2018-05-11 17:00:00+00:00         0
2018-05-11 18:00:00+00:00         0
2018-05-11 19:00:00+00:00         0
2018-05-11 20:00:00+00:00         0
2018-05-11 21:00:00+00:00         0
2018-05-11 22:00:00+00:00         0
2018-05-11 23:00:00+00:00         0
2018-05-12 00:00:00+00:00         0
2018-05-12 01:00:00+00:00         0
2018-05-12 02:00:00+00:00         0
2018-05-12 03:00:00+00:00         0
2018-05-12 04:00:00+00:00         0
2018-05-12 05:00:00+00:00         0
2018-05-11 08:00:00+00:00         0
...                             ...
2018-05-10 00:00:00+00:00         0
2018-05-10 01:00:00+00:00         0
2018-05-10 02:00:00+00:00         0
2018-05-06 01:00:00+00:00         0
2018-05-10 04:00:00+00:00         0
2018-05-09 08:00:00+00:00         0
2018-05-09 06:00:00+00:00         0
2018-05-08 08:00:00+00:00         0
2018-05-08 18:00:00+00:00         0
2018-05-08 09:00:00+00:00         0
2018-05-08 10:00:00+00:00         0
2018-05-08 11:00:00+00:00         0
2018-05-08 12:00:00+00:00         0
2018-05-08 13:00:00+00:00         0
2018-05-08 14:00:00+00:00         0
2018-05-08 15:00:00+00:00         0
2018-05-08 16:00:00+00:00         0
2018-05-08 17:00:00+00:00         0
2018-05-08 19:00:00+00:00         0
2018-05-09 05:00:00+00:00         0
2018-05-08 20:00:00+00:00         0
2018-05-08 21:00:00+00:00         0
2018-05-08 22:00:00+00:00         0
2018-05-08 23:00:00+00:00         0
2018-05-09 00:00:00+00:00         0
2018-05-09 01:00:00+00:00         0
2018-05-09 02:00:00+00:00         0
2018-05-09 03:00:00+00:00         0
2018-05-09 04:00:00+00:00         0
2018-05-10 03:00:00+00:00         0

[199 rows x 1 columns]

In [43]:
df.loc[df.ipSeg24 == '111.19.124'].groupby(g).agg({'event_id':'count'})['event_id'].value_counts()

0      193
1        5
142      1
Name: event_id, dtype: int64

In [52]:
df['day'] = df['time'].dt.strftime("%Y/%m/%d")

In [53]:
df['hour'] = df.time.dt.hour

In [54]:
df1 = df.groupby(['ipSeg24', 'day', 'hour'], as_index=False).agg({'event_id': 'count'})

In [56]:
bad_ip=df1.loc[df1['event_id'] == df1['event_id'].max(), ['ipSeg24','day','hour']].iloc[0]

In [57]:
bad_ip['ipSeg24']

'111.19.124'

In [58]:
 df.loc[(df['ipSeg24'] == bad_ip['ipSeg24']) & (df['day'] == bad_ip['day']) & (df['hour'] == bad_ip['hour'])].shape

(142, 22)

In [89]:
df.loc[(df['ipSeg24'] == bad_ip['ipSeg24']) & \
       (df['day'] == bad_ip['day']) & (df['hour'] == \
        bad_ip['hour'])][['ipGeo_5m_value','time']].set_index('time').sort_index().plot()

In [90]:
plt.show()

In [88]:
df.loc[(df['ipSeg24'] == bad_ip['ipSeg24']) & \
       (df['day'] == bad_ip['day']) & (df['hour'] == \
        bad_ip['hour'])][['hour','ipGeo_5m_value']]

        hour  ipGeo_5m_value
49081     14               5
49082     14               3
49083     14               4
49084     14               3
49085     14               2
49086     14               1
49087     14               7
49088     14               8
49089     14              13
49090     14               6
49091     14               7
49092     14              15
49093     14              16
49094     14              12
49095     14              11
49096     14              13
49097     14              19
49098     14              22
49099     14              29
49100     14              27
49101     14              21
49102     14               8
49103     14              28
49104     14              24
49105     14              31
49106     14              10
49107     14              11
49108     14              12
49109     14              33
49110     14              34
...      ...             ...
122593    14             113
122594    14             114
122595    14             115
122596    14             116
122597    14             117
122598    14             118
122599    14             119
122600    14             120
122601    14             122
122602    14             124
122603    14             127
122604    14             126
122605    14             123
122606    14             121
122607    14             129
122608    14             128
122609    14             125
122612    14             130
122613    14             132
122614    14             131
122615    14             133
122618    14             134
122620    14             135
122621    14             136
122622    14             137
122623    14             139
122624    14             138
122633    14             141
122634    14             142
122635    14             140

[142 rows x 2 columns]

In [92]:
df1=df.groupby(['sub_pid_seller','hour']).agg({'ipSeg24':'count'})

In [99]:
df1.head(5)

                        ipSeg24
sub_pid_seller    hour
huitt_articledown 0        6313
                  1        1407
                  2        2135
                  3        3449
                  4        3152

In [96]:
df1.unstack(level=0).plot(kind='line', subplots=False)
plt.show()

In [102]:
df2=df1.reset_index('sub_pid_seller')

In [103]:
df2.loc[df2['sub_pid_seller']=='huitxiaozhinew_three_downt_three']['ipSeg24'].plot(kind='line', subplots=False)
plt.show()

In [106]:
g1 = Grouper(key='time', freq='1Min')

In [117]:
df3=df.loc[(df.day == bad_ip['day']) & (df.hour == bad_ip['hour'])].groupby(['sub_pid_seller','hour',g1]).agg({'ipSeg24':'count'})

In [120]:
df3.unstack(level=['sub_pid_seller','hour']).plot(kind='line', subplots=False)

In [121]:
plt.show()

In [122]:
dfm = df.groupby(['maxentID', 'day', 'hour'], as_index=False).agg({'event_id': 'count'})

In [124]:
bad_dev = dfm.loc[dfm['event_id'] == dfm['event_id'].max(), ['maxentID', 'day', 'hour']].iloc[0]

In [129]:
dfm1=df.groupby(['sub_pid_seller','hour']).agg({'maxentID':'count'}).sort_values(by='maxentID',ascending=False)

In [130]:
dfm1.head(5)

                     maxentID
sub_pid_seller hour
huitt_three    5        14745
               4        14105
               6        13805
               2        12683
               3        12505

In [134]:
df.groupby(['sub_pid_seller','maxentID','day','hour']).agg({'event_id':'count'}).sort_values(by='event_id',ascending=False)

                                                                        event_id
sub_pid_seller        maxentID                         day        hour
xiaozhinew_three_down 2223e440b2cc7a8d0945fbe6aa8b02d6 2018/05/13 14         142
xiaozhinew_three_up   4e9634af76c78c5864a9bca8abdaa2df 2018/05/12 10         105
xiaozhinew_three_down a2b59edf13e899172e3314550b2855e6 2018/05/13 5          102
                      7f9a028c8e533b6e566c9124d8587979 2018/05/07 3           92
xiaozhinew_three_up   49fbd0d0c73ac1ac1558f7797e95c289 2018/05/15 11          88
                      870650996583ceabfda3bbd0a62d762f 2018/05/12 22          85
xiaozhinew_three_down dd022936b05ca46e54751359a4748d1d 2018/05/07 8           52
huitt_articledown     2bc5f5dc1566b49e2ddd4b1c028c27e7 2018/05/11 2           51
xiaozhinew_three_up   70592c0ffe8b8b9a52a3016fc139f917 2018/05/07 12          50
huitt_articledown     b1143ce3313fd5d2f3c2432386534302 2018/05/05 5           49
xiaozhinew_three_up   9f26be2f6ebe04d769637283330c86df 2018/05/14 15          46
xiaozhinew_three_down 7f9a028c8e533b6e566c9124d8587979 2018/05/07 4           45
xiaozhinew_six        a6e910b2887702a84ac0d18c8b103ddc 2018/05/03 8           43
xiaozhinew_three_up   0c1f4002d9eb1e3f4b1e7aea5d454cef 2018/05/14 18          41
                      4086bd11e3955f519fddd1293ef654db 2018/05/07 9           39
xiaozhinew_three_down b6e9e003a11eab4824a96896ef92e361 2018/05/08 13          37
xiaozhinew_three_up   acc6331206a7b13ccec7455d29294b7f 2018/05/06 14          34
xiaozhinew_three_down dd022936b05ca46e54751359a4748d1d 2018/05/07 9           32
xiaozhinew_three_up   463c00f2aedac57793f9afa10497d258 2018/05/12 1           32
                      e11dcda47fb80466fcde8cf191c61cb2 2018/04/30 16          32
                      a6bf6627b7093b8d32147f275bed2f4b 2018/05/06 19          31
                      2de864944e9bc1cad6c3212a7c62f030 2018/05/11 3           29
xiaozhinew_three_down d589951182f33146a6a27a4291c68cff 2018/05/07 12          29
xiaozhinew_three_up   aa4d2d61564eb7eb0cc614839e87a0a8 2018/05/03 12          28
huitt_threemiddle_2   65c4a503fe39483ae26d142e0c035b2f 2018/05/09 10          28
xiaozhinew_three_up   8c0ec25092ec70983bb320101b789c79 2018/05/03 9           27
xiaozhinew_three_down 71db3c442726fce25add2fbcdbdb5006 2018/05/07 10          27
xiaozhinew_three_up   ac99d30cd3aae8be4a58219aaa0bc5cd 2018/05/13 23          27
huitt_threeup_1       2d4fb8100d5073302a765e9ebbab77c2 2018/05/08 5           26
huitt_three           81b881bbb5a151d867dc15fa120f9545 2018/05/11 4           26
...                                                                          ...
                      86a3aedb0c7241e59db189ad43d589d8 2018/05/06 6            1
                      8683c61ea2dadff36cf7b5d57eac270a 2018/05/04 8            1
                      8683527fff58df0d5826a0d1bdc4e71e 2018/05/05 4            1
                      8682c4fa048a8bf27ca99560cdd23e24 2018/05/05 6            1
                      86785bbe8a4916685f1a9b829520b868 2018/05/13 22           1
                      866cb0def06179a642a3822a5c0edf8a 2018/05/08 7            1
                      866ef20d34ae27c1be7edc8d8c1e559b 2018/05/02 4            1
                      8670fc2fdc3ea81793d9d21ae485a238 2018/04/30 23           1
                      867143cd32bfa39a23245c8f1423cae6 2018/05/08 3            1
                      8671927dd4f0f7d2457ecc5ef571b93e 2018/05/12 5            1
                      86742e8935838196f6495f79c8c003f2 2018/05/04 0            1
                                                                  1            1
                      8675d5b68f41ced6fe78a0839412871a 2018/05/14 0            1
                      867782c04f69eceb202cdfe962ca637b 2018/05/08 8            1
                                                       2018/05/09 23           1
                      867840584322327aff700fec763b1702 2018/05/09 5            1
                      8678b59dd0b2ff22a0d1b9753bffc422 2018/05/11 4            1
                      8682253ace7cb54cc0cfc515ca061169 2018/05/02 8            1
                      8678ebf9273a75f26daebc765aa4187a 2018/05/09 23           1
                      867a523bea07062c5b0853013a494710 2018/05/01 4            1
                      867c7473c1fe081f07ed103f7138ee19 2018/05/10 3            1
                      867d3e60481196f97fcb13d360b66187 2018/05/10 6            1
                      867d8ff5272e1c17e9f523223a36d5ef 2018/05/04 6            1
                      867f08cdcce7b751505bf813e675538c 2018/05/11 2            1
                      867f1c0a5fdcfc95453ba0cccec62987 2018/05/15 3            1
                      867f658f71630d9d548a4d832e408235 2018/05/01 3            1
                      8680acc722ee4f77767a55473731f43c 2018/05/14 9            1
                      8681656d262dc8ac7bcc5559faa79610 2018/05/09 4            1
                                                       2018/05/15 5            1
xiaozhinew_three_up   fffe51674cd3ddd16ed3f11289720fa9 2018/05/13 3            1

[262576 rows x 1 columns]

In [133]:
bad_dev

maxentID    2223e440b2cc7a8d0945fbe6aa8b02d6
day                               2018/05/13
hour                                      14
Name: 35041, dtype: object

In [136]:
df.isSimulator_value.value_counts()

False    324715
True       5452
Name: isSimulator_value, dtype: int64

In [137]:
df.loc[df.isSimulator_value == True]

(5452, 22)